body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url("../img/bg-header.png");
  border-top: 5px solid #060e17;
}

.box-title {
  color: #e3f4ff;
  font-weight: 200;
  background-color: #000000de;
  text-align: center;
  padding: 37px 43px;
  margin: 30px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 200;
}

.cta.cta-dark {
  background-color: #060e17;
  color: #ffffff;
  padding: 15px 30px;
  margin: 0 80px 15px 80px;
  border-radius: 20px;
}

.cta.cta-light {
  background-color: #e3f4ff;
  color: #060e17;
  padding: 15px 20px;
  margin: 0 100px 30px 100px;
  border-radius: 20px;
}

.section-intro {
  background-color: #e3f4ff;
  padding: 20px;
}

h2 {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 16px;
}

.disquette {
  max-width: 10%;
  margin: auto;
  padding: 20px 0;
}

.section-produit {
  background-color: #060e17;
  padding: 20px;
}

.products {
  color: #e3f4ff;
}

.cards {
  background-color: #e3f4ff;
  font-weight: 100;
  color: #060e17;
  margin: 30px;
  padding: 15px 40px 20px 20px;
  border-radius: 15px;
}

.oiseau {
  max-width: 40%;
}

.argent {
  max-width: 40%;
}

.infos-disposition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

h3 {
  font-size: 25px;
  font-weight: 200;
}