body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url("../img/bg-header.png");
  border-top: 5px solid #060e17;
}

.box-title {
  color: #e3f4ff;
  font-weight: 200;
  background-color: #000000de;
  text-align: center;
  padding: 37px 43px;
  margin: 30px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 200;
}

.cta.cta-dark {
  background-color: #060e17;
  color: #ffffff;
  padding: 15px 30px;
  margin: 0 80px 15px 80px;
  border-radius: 20px;
}

.cta.cta-light {
  background-color: #e3f4ff;
  color: #060e17;
  padding: 15px 20px;
  margin: 0 100px 30px 100px;
  border-radius: 20px;
}